#code_area {
    font-size: medium;
    max-width: 4000px;
    height: 540px;
    resize: vertical;
}

.middle_box {
    margin: 20px 0;
}

.middle_box #submit_btn {
    width: 140px;
    height: 40px;
    font-size: medium;
    color: black;
    background: linear-gradient(135deg, #C6FFDD, #FBD786, #f7797d);
}

.middle_box #submit_btn:active{
    background: linear-gradient(135deg,#FFFFFF, #6DD5FA, #2980B9);
}

.middle_box .dropdown_wrapper {
    margin: 20px;
    font-size: medium;
}

.middle_box .dropdown_wrapper #dropdown {
    font-size: medium;
    width: 140px;
    height: 30px;
}

#input_box {
    max-width: 4000px;
    display: block;
    outline: solid black 1px;
}

#input_box #input{
    background: #052440;
    vertical-align: middle;
    font-family: Consolas, monospace;
    font-size: medium;
    color: white;
    resize: vertical;
    border: none;
    padding: 2% 3%;
    width: 94%;
}

#output_box {
    outline: solid black 1px;
    background: #052440;
    margin: 20px 0;
    padding: 1px 20px;
}

#output_box #output {
    font-family: Consolas, monospace;
    font-size: medium;
    color: white;
    white-space: pre-wrap;
}
